---
import styles from './TrustedBy.module.css';
---

<section class={styles.section}>
  <div class={styles.container}>
    <h2 class={styles.title}>
      Potenciando la visión de los líderes globales
    </h2>

    <p class={styles.description}>
    Proporcionamos la base de ingeniería para organizaciones de gran escala para garantizar que su software satisfaga las demandas futuras. 
    </p>

    <div class={styles.logos}>
   <img src="/images/icons/echelon.png"/>
   <img src="/images/icons/privy.png" />
   <img src="/images/icons/ppcadlab.png"/>
   <img src="/images/icons/zaha.png" />
   <img src="/images/icons/sutra.png"/>
    </div>
  </div>
</section>
